@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'publica_sans_xb';
	src: local('publica-sans-xbold'), url('./assets/fonts/PublicaSansRound-XBd.otf') format('woff2');
	font-display: swap;
}

/* @font-face {
	font-family: 'publica_sans_sb';
	src: local('publica-sans-semibold'), url('./assets/fonts/Obviously-Semibold.otf') format('woff2');
	font-display: swap;
} */

@font-face {
	font-family: 'publica_sans_b';
	src: local('publica-sans-bold'), url('./assets/fonts/PublicaSansRound-Bd.otf') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'publica_sans_m';
	src: local('publica-sans-medium'), url('./assets/fonts/PublicaSansRound-Md.otf') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'publica_sans_r';
	src: local('publica-sans-regular'), url('./assets/fonts/PublicaSansRound-Rg.otf') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'publica_sans_l';
	src: local('publica-sans-light'), url('./assets/fonts/PublicaSansRound-Lt.otf') format('woff2');
	font-display: swap;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply font-publica_sans_r;
	box-sizing: border-box;
  color: #183445;
  font-size: 16px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  color: black;
}

.react-multi-carousel-list .react-multi-carousel-dot-list {
	bottom: 20px
}

.react-multi-carousel-list .react-multi-carousel-dot button {
	border: none;
	background: #ffffff82;
}

.react-multi-carousel-dot-list .react-multi-carousel-dot--active button{
	background: white;
}


@keyframes appear {
	from {
		opacity: 0;
		scale: 0.5;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

.animate_zoom {
	animation: appear 2s linear;
}

/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	/* color: #748181; */
	/* margin-bottom: 12px; */
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: #FFFFFF;
	border: 1px Solid #DFE2E2;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
	background-color: #FFFFFF;
	border: 1px Solid #DFE2E2;
      } */

/* When the radio button is checked, add a background */
.container input:checked~.checked-active {
	background-color: #FF7A21;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	background: white;
}